node_modules/
.expo/
dist/
npm-debug.*
*.jks
android/keystore.properties
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/app/build/
android/.gradle/
ios/Pods/
ios/build/
.DS_Store
.env*
*.log
*.zip
.secrets/
