<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434827238021-l54qkp6ts99g1vsf5ha314tfj056sk50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434827238021-l54qkp6ts99g1vsf5ha314tfj056sk50</string>
	<key>API_KEY</key>
	<string>AIzaSyBPXFNYi2tT7ZA0VC-MfHQp3WNbGfZZ5Go</string>
	<key>GCM_SENDER_ID</key>
	<string>434827238021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahajjudplus.app</string>
	<key>PROJECT_ID</key>
	<string>tahajjud-2d7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>tahajjud-2d7bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434827238021:ios:e765762f0013987bc1e7ec</string>
</dict>
</plist>